anaconda-client==1.6.14
anaconda-navigator==1.8.7
anaconda-project==0.8.2
certifi==2018.11.29
click-plugins==1.0.4
cligj==0.5.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.4
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.3.2
numpy==1.14.3
numpydoc==0.8.0
pandas==0.24.1
pandas-datareader==0.7.0
pandocfilters==1.4.2
python-dateutil==2.7.3
python-twitter==3.5
pytz==2018.4
SQLAlchemy==1.2.7